.heading4 {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -100%;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      transition: all 0.5s;
      
    }
  
    &:hover {
      &::after {
        
        bottom: 0;
        border-radius: 0;
        color: rgb(3, 3, 3);
      }
  
      a {
        font-weight: 500;
        color: rgb(3, 3, 3);
      }
    }
}
  
.atag {
    position: relative;
    z-index: 9;
  }